// header / footer 
$navTextColor: #424242;
$navBackground: #ffffff;

// color 
$live: #2d82e1;
$slots: #44d1b9;
$fun: #fc5168;
$plus:#b255af;
$category: #39accb; 

// filter setup
$filterWidth: 100px;
$filterHeight: 36px;

// category setup
$categoryHeight: 36px;

$hoverTextColor: #ffffff;

$disableBorderColor: #bdbdbd;
$disableTextColor: #bdbdbd;