// header / footer 
$navTextColor: #424242;
$navBackground: #ffffff;

// color 
$live: #2d82e1;
$slots: #44d1b9;
$fun: #fc5168;
$plus:#b255af;
$category: #39accb; 

// filter setup
$filterWidth: 100px;
$filterHeight: 36px;

// category setup
$categoryHeight: 36px;

$hoverTextColor: #ffffff;

$disableBorderColor: #bdbdbd;
$disableTextColor: #bdbdbd;

// featrue color
$featureOneColor: #e9527f;
$featureTwoColor: #5979e6;
$featureThreeColor:#8ce954;
$featureFourColor: #cb62f1;
$featureFiveColor: #e4b444;
$featureSixColor: #49e2b8;